.form-container {
    margin: auto;
    padding: 26px;

    label {
        font-size: 14px;
    }

    button {
        font-size: 13px;
    }

    .header {
        font-size: 16px;
        margin-bottom: 20px;
    }

    .input {
        font-size: 13px;
    }
}

iframe {
    width: 100%;
    height: 80vh;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-size: 13px;
    opacity: 1;
    /* Firefox */
}